# -FrontPage-
DirectoryIndex index.php

AddDefaultCharset utf-8

RewriteEngine On
RewriteRule !\.(ico|doc|woff|svg|eot|otf|OTF|ttf|docx|mp3|swf|txt|gif|jpg|xml|code|png|js|css|php|html|htm|pdf|xls|rtf|pdf|mov|rar|zip|exe|avi|tiff|psd|cdr)$ /index.php
